/* src/WelcomePage.css */
.hero-section {
  background-image: url("assets/images/inventory-management.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-section h1 {
  font-weight: bold;
  color: rgb(62, 224, 29);
}

.hero-section p {
  font-size: 1.25rem;
  color: rgb(236, 228, 228)
}

